.error{
    padding: 2rem;
    background-color: rgb(209, 5, 5);
    font-size: 2rem;
    border-radius: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    color: rgb(245, 245, 245);
    width: auto;
    text-align: center;
    grid-column: 1;
}
@media (min-width: 768px) { 
  .error{
    grid-column: 1/4;
  }
  @media (min-width: 1200px) { 
    .error{
        grid-column: 1/5;
      } 
  }
}
